6.munit-set-event/src/main/mule/6.munit-set-event.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="createClientInLisbon" doc:id="80938465-88d9-4e80-a356-03e39db40d17" >
		<http:listener doc:name="HTTP POST" doc:id="6db07744-d862-4a66-9c20-d466fdcbe4df" config-ref="HTTP_Listener_config" path="/createClient" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Log START" doc:id="66e83fb6-ac07-4be9-8f97-736ed821b3aa" message='#["LOG START"]' />
		<flow-ref doc:name="Flow Reference - validateLisbonDistrict" doc:id="a17fea1b-3027-4a5a-aef4-baafe9bc98c9" name="validateLisbonDistrict"/>
		<flow-ref doc:name="Flow Reference - generateClientUUID" doc:id="d5bbf617-e5f2-4922-b242-b906a76f61dd" name="generateClientUUID"/>
		<set-payload value="#[%dw 2.0


output application/json
---
vars.clientUUID]" doc:name="Set Payload - clientUUID" doc:id="6f1f07cb-03d0-429d-9e62-2c55263a7b90" />
		<logger level="INFO" doc:name="Log END" doc:id="f32a4715-50cd-48eb-beaf-f28ee268b90f" message='#["LOG END"]'/>
	</flow>
	<sub-flow name="validateLisbonDistrict" doc:id="8dc9b621-a7c5-4bb8-9527-343fdbb6d637" >
		<choice doc:name="Choice" doc:id="835824ab-1570-42ef-85a4-e96a4d115260" >
			<when expression='#[payload.district == "Lisbon"]'>
				<set-variable value="#[true]" doc:name="Set Variable - validateClient TRUE" doc:id="5508952a-a975-4b7e-aa08-163491dd257e" variableName="validateClient"/>
			</when>
			<otherwise >
				<set-variable value="#[false]" doc:name="Set Variable - validateClient FALSE" doc:id="9cddd545-47bd-4b54-b293-623b1229f03f" variableName="validateClient"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="generateClientUUID" doc:id="526cde99-2e9e-4fd6-9802-d0b71724011d" >
		<logger level="INFO" doc:name="Log vars.validateClient" doc:id="b6718a3a-176e-4e1e-92ae-530e2b77f2ac" message="#[vars.validateClient]"/>
		<choice doc:name="Choice" doc:id="1c2b3bbe-8e7f-4cab-8889-9d0bce37e684" >
			<when expression="#[vars.validateClient == true]">
				<set-variable value="#[%dw 2.0


output application/json
---
uuid()]" doc:name="Set Variable - clientUUID" doc:id="fec7faaa-6986-4a15-8677-83d09e7a9e75" variableName="clientUUID"/>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="71dde6ee-d712-4c43-aac3-f61058db3fdf" type="CLIENT:INVALID_DATA" description='"INVALID CLIENT DATA"'/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>